.card {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}


.card-list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    padding: 10px;
    margin: auto;
    color: white;

}


.div-main {
    background-color: orangered;
    margin: 6px;
    padding: 10px;
    border-radius: 10px;

}