.main-Div {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 5px;
    margin-top: 0px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

.mycard {
    color: orangered;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 10px;
    letter-spacing: 2px;
}

.addButton {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.top-card{
    background-color: orangered;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    width: 20vw;
    border-radius: 10px;
    color: white;
}
.top-card>h2{
    background-color: orangered;
}
.top-card>img{
    background-color: orangered;
    width: 100px;
    height: 100px;
    object-fit: cover;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.addButton>button {
    background-color: darksalmon;
    font-size: 40px;
    padding: 20px;
    border: none;
    border-radius: 32px;
    height: 30vh;
    color: white;
    cursor: pointer;
}

.addButton>button:hover {
    background-color: orangered;
}

@media (max-width:500px) {
    .main-Div {
        width: auto;
        padding-top: 10px;
        padding-bottom: 0px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    .top-card{
        width: 100vw;
    }

}